version: '3.8'

services:
  react-app:
    container_name: 'Footmart-app'
    image: 'react'
    ports:
      - '3000:3000'  

  prometheus:
    image: prom/prometheus
    container_name: 'prometheus'
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml    




